__pycache__/
*.html
*.json
!README.md
!public/*.md
!sources_raw_*.md
!bulletin_infoclimat*.md
!subscriptions.json
!bilan_journalier/data/*.json
!bilan_journalier/data/*.db
reports/
meteo_france/rapports/
meteo_france/meteo_data/

.env
